{% extends 'base.html.twig' %}

{% block body %}
    <main role="main">

        <section class="jumbotron text-center">
            <h1>Groupes</h1>
            <p>Voici la liste des différents groupes que j'ai répertorié sur ce site. Si vous souhaitez davantage de précision, n'hésitez pas à cliquer dessus. </p>
        </section>

        <div>
            <div class="container">

                <div class="row">
                    {% for i in groupes %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <h2 class="TitreP" id="center"> {{ i.nom }}</h2>
                                <a href="{{ path ('groupe',{id : i.id }) }}"><img class="imgGroupes" src="{{ i.logo }}" alt="logo du groupe {{ i.nom }}"></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </main>
{% endblock %}